src/main/mule/myfirstmuleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="10e0a659-bdbd-4f7a-a7f4-97ad9ee69b83" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myfirstmuleprojectFlow" doc:id="9fe5c66f-5303-4e57-b3bd-dd2a403a0d0c" >
		<http:listener doc:name="Listener" doc:id="f66d1478-fdfa-4f7f-821f-414b01a87d98" config-ref="HTTP_Listener_config" path="/firstmule"/>
		<set-payload value='#["First Mule Project"]' doc:name="Set Payload" doc:id="b622c385-bcfb-4add-ae95-5310ab8eeaee" />
		<ee:transform doc:name="Transform Message" doc:id="30c4b921-dd96-40ad-864c-03c4e5fb709d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
